name: Format Lint & Types
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install Requirements
        run:
          pip install -r requirements.txt
      - name: Pylint
        run:
          pylint src/
      - name: Black
        run:
          black --check ./
      - name: Type Check (mypy)
        run: mypy src
